.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }
}

.balloon-header {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.balloon-grid {
  display: grid;
  color: greenyellow;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}